footer .container {
    background-color: #222529;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    /* max-height: 80px; */
    padding-top: 15px;
    background: #222529;
}

footer .logo_web p {
    padding-top: 15px !important;
}

hr {
    margin: 1rem 0;
    color: #85878a;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.footer_h,
.item_l {
    display: flex;
    flex-wrap: wrap;
}

.item_l p {
    margin-right: 40px;
}

a {
    text-decoration: none;
}